.main {
	box-sizing: border-box;
	width: 75%;
	height: 100%;
	padding-left: 20px;
}


.career_title h1 {
	color: #414141;
	font-size: 35px;
	margin: 0;
	margin-top: 10px;
}

.career {
	margin-top: 25px;
}


.career_img {
	display: inline-block;
	text-align: left;
	width: 220px;
	height: 220px;
	vertical-align: top;
}

.career_pic {
	border-radius: 10px;
}

.career_list {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 80px;
}

.career_content {
	display: inline-block;
	width: 460px;
}

.career_item {
	display: block;
	position: relative;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
	font-size: 18px;
	margin-bottom: 20px;
	cursor: pointer;
}

.career_item:before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 20px);
  background-color: #aeaeae;
  top: 50%;
  left: -20px;
}

.career_item:last-child:before {
  height: 0
}

.career_item:after {
	position: absolute;
	top: calc(50% - 10px);
	left: -30px;
	content: "";
	width: 20px;
	height: 20px;
	background-image: url('../images/circle.png');
}

.career_item:hover:after {
  background-image: url('../images/circle_active.png');
}

.career_item:hover {
	color: #ffffff;
	background-color: #33c1e3;
}

.career_place {
	display: block;
	font-size: 21px;
	color: #414141;
}

.career_position,
.career_year {
	display: block;
	color: #727272;
}

.career_item:hover .career_position,
.career_item:hover .career_year,
.career_item:hover .career_place {
	color: #ffffff;
}

.career_mark {
	position: absolute;
	top: calc(50% - 8px);
	left: -65px;
	font-size: 14px;
	color: #727272;
}

.career_item:hover .career_mark {
	color: #33c1e3;
	font-weight: bold;
}

